<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="template">

<head>
    <title>Easy Jobs Admin - Job executions</title>
</head>

<body>
    <div layout:fragment="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">Job executions</h4>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table table-striped" id="job-executions-table">
                            <thead class="text-primary">
                            <th>Id</th>
                            <th>RequestId</th>
                            <th>Execution status</th>
                            <th>Exit status</th>
                            <th>Start date</th>
                            <th>End date</th>
                            </thead>
                            <tbody>
                            <tr th:each="execution : ${executions}">
                                <td th:text="${execution.id}"></td>
                                <td th:text="${execution.requestId}"></td>
                                <td th:text="${execution.jobExecutionStatus}"></td>
                                <td th:text="${execution.jobExitStatus}"></td>
                                <td th:text="${execution.startDate}"></td>
                                <td th:text="${execution.endDate}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script layout:fragment="custom-script">
    $(document).ready(function() {
        $('#job-executions-table').DataTable();
    } );
</script>
</body>

</html>